.app {
}

.app_container {
  display: flex;
  /* flex: 1; */
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  flex: 1;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app_container > * {
  flex: 1;
}

.stat_block_form {
  background-color: #4c5363;
}

.section {
  display: flex;
  justify-content: center;
}

.statblock_container {
  padding-top: 80px;
}

.statblock_form_container {
  flex-direction: column;
}

.statblock_section_selection {
  display: flex;
  justify-content: center;
}

.statblock_form_tab {
  background: white;
  padding: 10px 10px;
  margin: 0 10px;
  border-radius: 0 0 5px 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.input {
  background: none;
  border: 2px solid #ffffff67;
  border-radius: 5px;
  outline: none;
  color: white;
}

.input:focus {
  border-color: aquamarine;
}

/* Statblock */

.statblock {
  background: rgb(247, 224, 181);
  color: black;
}